<div class="position-absolute container border shadow-lg pt-3 ml-3 bg-white rounded opacity-1" id="archive-container">
    {{#each archive}}
    <h3>Year: {{@key}}</h3>
    <div class="container">
        {{#each this}}
        <h4>{{@key}}. month</h4>
        {{#each this}}
        <div class="container">
            <a href="/posts/{{id}}">{{title}}</a>
        </div>
        {{/each}}
        {{/each}}
    </div>
    {{/each}}
</div>